<%- include('./partials/header')%>
<body>
    <div id = "preloader"></div>
    <link rel="stylesheet" href="/cssfiles/preloader.css">
    
    <script>
        
        var loader = document.getElementById("preloader");
        window.addEventListener("load",function(){
            setTimeout(function() {
                loader.style.display = "none";
            }, 1000)
            
        })
    </script>

    

    <%- include('./partials/flasher')%>
    <%- include('./partials/navbar')%>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><%=err.message%></h4>
                <p><%= err.stack %></p>
            </div>
        </div>
    </div>
    <%- include('./partials/footer')%>
