<%- include('./partials/header')%>


    <div class = "container">
        <div id = "map" style = "width:100% ; height:500px"></div>
    </div>

    <h1>This is the home page where all the food post is displayed</h1>



    <% if(isUserAuthenticated){ %>
        <% if(allFriendRequests.length){ %>
            <%    for(let friendreq of allFriendRequests){ %>
                    <a href="/profile/<%=friendreq.requester._id %>"><p><%= friendreq.requester.username %></p></a>
                    <form action="/profile/acceptFriend/<%=friendreq.requester._id %>" method = "POST">
                        <button type="submit">Accept Friend Request</button>
                    </form>
                    <hr>
            <%    } %>
        <% }else{ %>
            <p>No friend requests</p>
        <%}%>

    
    <%} %>
    
    <% if (isUserAuthenticated && !toShowFriendPosts) { %>
        <form action="/foodposts" method = "GET">
            <button type="submit" name = "onlyFriends" value = "yes">Only Friends</button>
        </form>
    <% }else if(isUserAuthenticated && toShowFriendPosts){ %>
        <form action="/foodposts" method = "GET">
            <button type="submit">Back to FYP</button>
        </form>
    <% } %>


    <div class = "allposts">

        <% for(var i = 0;i<arrOfFoodPost.length;i++){ %>
            <div class = "post">
                <a href = "/foodposts/<%= arrOfFoodPost[i]._id %>"><%= arrOfFoodPost[i].name %></a>
                <p>By <%= arrOfFoodPost[i].writer.username %></p>
                <p>At <%= arrOfFoodPost[i].location %></p>
                <p hidden = true><%= arrOfFoodPost[i].geometry.coordinates %></p>
            </div>
            

        <% }%>

    </div>
    
    <script>
        const foodPosts = { features : <%- JSON.stringify(arrOfFoodPost) %>}
        const MapBoxToken = "<%- process.env.MAPBOX_API_TOKEN %>"
    </script>

    <script src="/jsfiles/homeMapbox.js"></script>
    <script src="/jsfiles/homeClusterMap.js"></script>

        
     

    

<%- include('./partials/footer')%>


