<%- include('./partials/header')%>
<body class = "d-flex flex-column vh-100">
    <div id = "preloader"></div>
    <link rel="stylesheet" href="/cssfiles/preloader.css">
    
    <script>
    
        var loader = document.getElementById("preloader");
        window.addEventListener("load",function(){
            setTimeout(function() {
                loader.style.display = "none";
            }, 3000)
            
        })
    </script>
    <%- include('./partials/flasher')%>
    <%- include('./partials/navbar')%>
=
    <div class = "container">
        <div id = "map"></div>
    </div>



    <div style = "display: flex;flex-direction: column;align-items: center; margin-top: 40px;">
        
        <% if (isUserAuthenticated && !toShowFriendPosts) { %>
            <form action="/foodposts" method = "GET">
                <button type="submit" name = "onlyFriends" value = "yes">Only Friends</button>
            </form>
        <% }else if(isUserAuthenticated && toShowFriendPosts){ %>
            <form action="/foodposts" method = "GET">
                <button type="submit">For You Page</button>
            </form>
        <% } %>
    </div>



    <div class = "allposts" style = "display: flex;flex-direction: column;align-items: center;">

        <% for(var i = 0;i<arrOfFoodPost.length;i++){ %>
            <div class="card sm-3" >
                <div class="row">
                    <div class="col-sm-4 align-self-center">
                    
                    <% if(arrOfFoodPost[i].images.length){ %>
                        <img class="img-fluid" alt="Responsive image" src="<%= arrOfFoodPost[i].images[0].url %>">
                    <%}else{%>
                        <img class="img-fluid" alt="Responsive image" src="/photos/defaultImage.jpg">
                    <%}%>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= arrOfFoodPost[i].name%></h5>
                            <p class="card-text"><i class='bx bx-user mr-2' ></i><a href="/profile/<%= arrOfFoodPost[i].writer._id %>"><%= arrOfFoodPost[i].writer.username %></a></p>
                            <p class="card-text"><i class='bx bx-pin mr-2' ></i><%= arrOfFoodPost[i].location %></p>
                            <p class="card-text description"><strong><%= arrOfFoodPost[i].description %></strong></p>
                            <p hidden = true><%= arrOfFoodPost[i].geometry.coordinates %></p>
                        </div>
                    </div>
                    
                </div>
                <a class="btn btn1" href="/foodposts/<%= arrOfFoodPost[i]._id %>">View More</a>

                
            </div>
            <br>
            

        <% }%>

    </div>
    
    <script>
        const foodPosts = { features : <%- JSON.stringify(arrOfFoodPost) %>}
        const MapBoxToken = "<%- process.env.MAPBOX_API_TOKEN %>"
    </script>

    <script src="/jsfiles/homeClusterMap.js"></script>
    <script src="/jsfiles/cardDescriptionLimit.js"></script>
    <link rel="stylesheet" href="/cssfiles/home.css">

        
     
    
    

</body>
</html>
