<%- include('./partials/header')%>
<body class = "d-flex flex-column vh-100">
    <%- include('./partials/preloader')%>
    <%- include('./partials/flasher')%>
    <%- include('./partials/navbar')%>
    <link rel="stylesheet" href="/cssfiles/login.css">

    <div class="box1">
        <div class="container1">
            <form action="/profile/login" method="POST" class="validated-form">                
                <div class="top">
                    <header><strong>Login</strong></header>
                </div>
        
                <div class="input-field">
                    <input type="text" class="input" placeholder="Username" name = "username" maxlength="20" minlength = "3" required>
                    <i class='bx bx-user bx-burst' ></i>
                </div>

                <div class="input-field">
                    <input type="Password" class="input" placeholder="Password" name="password" maxlength="20" minlength = "3" required>
                    <i class='bx bx-lock-alt bx-burst'></i>
                </div>

                <div class="input-field">
                    <input type="submit" class="submit" value="Login" id="firstButton">
                </div>
            </form>
            <form action="/profile/register" method = "GET">
                <div class="input-field">
                    <input type="submit" class="submit" value="Register" id="secondButton">
                </div>
            </form>
        </div>
    </div>  

    <%- include('./partials/bsValidation')%>

</body>
</html>
    

