<%- include('./partials/header')%>
<body class = "d-flex flex-column">
  <%- include('./partials/preloader')%>
  <%- include('./partials/flasher')%>
  <%- include('./partials/navbar')%>
  
  <link rel="stylesheet" href="/cssfiles/newfoodpost.css">

  <div class="box2">
      <div class="container">
        <form action= "/foodposts" method = "POST" class="validated-form"  enctype="multipart/form-data">              
          <div class="top">
                  <header><strong>New Post</strong></header>
              </div>
      
              <div class="input-field">
                  <input type="text" class="input2" name = "foodpost[name]" placeholder="Name" required>
                  <i class='bx bx-user' ></i>
              </div>

              <div class="input-field">
                <input type="text" class="input2" name = "foodpost[price]" placeholder="Price" required>
                <i class='bx bx-dollar' ></i>
              </div>

              <div class="input-field">
                <input type="text" class="input2" name = "foodpost[location]" placeholder="Location" required>
                <i class='bx bx-pin ' ></i>
              </div>



            
            <div class="input-field">
              <textarea class = "input3" cols="50" rows="10" name = "foodpost[description]" placeholder="Description"></textarea>
              <i class='bx bx-text' id = "descriptionItag"></i>
            </div>

            <br>
            <div class = "container1">
              <div class = "row">
                
                <div class = "col-6 pl-0">
                  <select id="rating" name="foodpost[rating]" class = "mt-3 pt-1 pb-1 pl-1 pr-1">
                    <option selected disabled>Choose A Rating</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
  
                </div>  
                
                <div class = "col-4 ml-4">
                  <input type="file" name="image" id="file" multiple>
                  <label for="file">
                    Choose a photo <i class='bx bx-paperclip' ></i>
                  </label>
  
                </div>
                
                
              </div>
              
            </div>
            
          
          <div class="input-field mt-3">
            <input type="submit" class="submit" value="Create New Post" id="firstButton">
          </div>
          </form>
          <br>
          <br>

      </div>
  </div>  

  <%- include('./partials/bsValidation')%>

</body>
</html>
  
    
    

