<%- include('./partials/header')%>
<body>
    <%- include('./partials/preloader')%>
    <%- include('./partials/flasher')%>
    <%- include('./partials/navbar')%>
    
    <br>
    <br>
    
    <% if (friendOption == 1){ %>
        <div class = "container mycontainer1">
            <div class = "row">
                <div class = "col-3" style = "padding: 0px;">
                    <div class = "sidebar" style = "border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
                        <header class = "mt-3">
                            <h2><strong>Friendlist</strong></h2>
                        </header>
                        <br>
                        <div class = "scrollbox">
                            <div class = "scrollbox-inner">
                                <% if (userToFind.friends.length){%>
                                    <% for (let friend of userToFind.friends){%>
                                        <a href="/profile/<%= friend._id %>">
                                            <div class="card card1" style = "height: 54px;">
                                                <div class="card-body card-body1" style="text-align: center;padding: 0px;">
                                                    <%= friend.username %>
                                                </div>
                                            </div>
                                        </a>
                                    <%}%>
                                <%}%>
                                
                            </div> 
                        </div>    
                    </div>
                </div>
                <div class = "col-6 middleClass" style = "padding: 0px;">
                    <div class = "container container3">
                        <h1 class = "mt-4" style = "text-align: center;font-size: 60px;"><%= userToFind.username %></h1>
                        <p style = "text-align: center;"><%= userToFind.email %></p>
                        <table>
                            <tr>
                                <td style="font-size: 20px;"><strong>Friends</strong></td>
                                <td style="width: 50px; height: 30px;"></td>
                                <td style="font-size: 20px;"><strong>Posts</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;font-size: 20px;"><strong><%= userToFind.friends.length %></strong></td>
                                <td style="width: 50px; height: 30px;"></td>
                                <td style="text-align: center;font-size: 20px;"><strong><%= foodPostsByUser.length %></strong></td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                <div class = "col-3" style = "padding: 0px;">
                    <div class = "sidebar" style = "border-top-left-radius: 0px;border-bottom-left-radius: 0px;">
                        <header class = "mt-3">
                            <h2><strong>Friend Requests</strong></h2>
                        </header>
                        <br>
                        <div class = "scrollbox">
                            <div class = "scrollbox-inner">
                                <%if (allFriendRequests.length){%>
                                    <% for (let friendReq of allFriendRequests){%>
                                        <a href="/profile/<%= friendReq.requester._id %>">
                                            <div class="card card1" style = "height: 54px;">
                                                <div class="card-body card-body1" style="text-align: center;padding: 0px;">
                                                    <%= friendReq.requester.username %>
                                                </div>
                                            </div>
                                        </a>
                                    <%}%>
                                <%}%>
                                
            
                            </div> 
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    <%}else{%>
        <div class = "container mycontainer1">
            <div class = "row" style = "margin-left: 260px;">
                <div class = "col-3" style = "padding: 0px;">
                    <div class = "sidebar" style = "border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
                        <header class = "mt-3">
                            <h2><strong>Friendlist</strong></h2>
                        </header>
                        <br>
                        <div class = "scrollbox">
                            <div class = "scrollbox-inner">
                                <% if (userToFind.friends.length){%>
                                    <% for (let friend of userToFind.friends){%>
                                        <a href="/profile/<%= friend._id %>">
                                            <div class="card card1" style = "height: 54px;">
                                                <div class="card-body card-body1" style="text-align: center;padding: 0px;">
                                                    <%= friend.username %>
                                                </div>
                                            </div>
                                        </a>
                                    <%}%>
                                <%}%>
                                
                            </div> 
                        </div>    
                    </div>
                </div>
                <div class = "col-6 middleClass" style = "padding: 0px; border-top-right-radius: 20px;border-bottom-right-radius: 20px;">
                    <div class = "container container3">
                        <h1 class = "mt-4" style = "text-align: center;font-size: 60px;"><%= userToFind.username %></h1>
                        <p style = "text-align: center;"><%= userToFind.email %></p>
                        <table>
                            <tr>
                                <td style="font-size: 20px;"><strong>Friends</strong></td>
                                <td style="width: 50px; height: 30px;"></td>
                                <td style="font-size: 20px;"><strong>Posts</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;font-size: 20px;"><strong><%= userToFind.friends.length %></strong></td>
                                <td style="width: 50px; height: 30px;"></td>
                                <td style="text-align: center;font-size: 20px;"><strong><%= foodPostsByUser.length %></strong></td>
                            </tr>
                        </table>
                        <%if (friendOption == 2){ %>

                            <form action="/profile/removeFriend/<%= userToFind._id %>?_method=DELETE" method = "POST">
                                
                                <button type="submit" id = "removeFriend">Remove Friend</button>
                               
                                
                            </form>
                            
                        <% }else if(friendOption == 3){ %>
                            <p style="position:relative; top:200">Friend request pending!</p>
                        
                        <% }else if(friendOption == 4){ %>
                            <form action="/profile/acceptFriend/<%= userToFind._id %>" method = "POST">
                                <button type="submit" id = "acceptFriendRequest">Accept Friend Request</button>
                            </form>
                        <% } else if(friendOption == 5){ %>
                            <form action="/profile/addFriend/<%= userToFind._id %>" method = "POST">
                                <button type="submit" id = "addFriend">Add Friend</button>
                            </form>
                        <% } %>
                    </div>
                    
                </div>

            </div>
        </div>
    <%}%>

    <div class = "allposts" style = "display: flex;flex-direction: column;align-items: center;">

        <% for(var i = 0;i<foodPostsByUser.length;i++){ %>
            <div class="card sm-3" >
                <div class="row">
                    <div class="col-sm-4 align-self-center">
                    
                    <% if(foodPostsByUser[i].images.length){ %>
                        <img class="img-fluid" alt="Responsive image" src="<%= foodPostsByUser[i].images[0].url %>">
                    <%}else{%>
                        <img class="img-fluid" alt="Responsive image" src="/photos/defaultImage.jpg">
                    <%}%>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= foodPostsByUser[i].name%></h5>
                            <p class="card-text"><i class='bx bx-user mr-2' ></i><a href="/profile/<%= foodPostsByUser[i].writer._id %>"><%= foodPostsByUser[i].writer.username %></a></p>
                            <p class="card-text"><i class='bx bx-pin mr-2' ></i><%= foodPostsByUser[i].location %></p>
                            <p class="card-text description"><strong><%= foodPostsByUser[i].description %></strong></p>
                            <p hidden = true><%= foodPostsByUser[i].geometry.coordinates %></p>
                        </div>
                    </div>
                    
                </div>
                <a class="btn btn1" href="/foodposts/<%= foodPostsByUser[i]._id %>">View More</a>

                
            </div>
            <br>
            

        <% }%>

    </div>
    
    
    
    
    <link rel="stylesheet" href="/cssfiles/profilePage.css">
</body>
</html>
    