<%- include('./partials/header')%>
<body>
    <%- include('./partials/preloader')%>
    <%- include('./partials/flasher')%>
    <%- include('./partials/navbar')%>


    <div class = "container">
        <br><br>
        <h1><strong>SEARCH</strong></h1>
        <br>
        <form action="/foodposts/search" method = "GET" name = "searchBar" class="validated-form" novalidate>
            <div class = "row">
                <div class = "col-10">
                    <div class="input-wrapper">
                        <i class='bx bx-x bx-md clear-icon' ></i>
                        <input class = "searchBar" type="text" placeholder="Search" name = "search" maxlength="20" required>
                        <button type="submit" class = "search-button"><i class='bx bx-search bx-md'></i></button>
                    </div>
                </div>
                <div class = "col-2">
                    <h4><strong>Search By User</strong></h4>
                    <input type="checkbox" id="searchUser" name="searchUser" value="true">
                </div>
            </div>
            


    
        </form>
        <br>
        <br>
        
    </div>



    <% if(emptyResult){ %>
        <div class = "container">
            <h1>NO RESULTS FOUND</h1>
        </div>
    <% }else {%>
        <div class="container">
            <% if(result.length==1){ %>
                <h1 class = "mb-3">Displaying top <%=result.length%> result </h1>
            <% }else {%>
                <h1 class = "mb-3">Displaying top <%=result.length%> results </h1>
            <% } %>
            <br>
            <% for(var i = 0;i<result.length;i++){ %>
                <div class = "container">
                    <div class="card text-center">
                        <div class="card-body">
                          <h5 class="card-title"><%=result[i].username%></h5>
                          <p class="card-text"><%=result[i].email%></p>
                          <a href="/profile/<%=result[i]._id%>" class="btn btn1">View Profile</a>
                          
                        </div>

                    </div>
                </div>
                <br>
                <br>


        
            <% }%>
        </div>
        <br>
        <br>
        <br>
        
    <% } %>




    <script>
        const clearIcon = document.querySelector(".clear-icon");
        const searchBar = document.querySelector(".searchBar");


        searchBar.addEventListener("keyup", () => {
            if(searchBar.value && clearIcon.style.visibility != "visible"){
            clearIcon.style.visibility = "visible";
            } else if(!searchBar.value) {
            clearIcon.style.visibility = "hidden";
            }
        });

        clearIcon.addEventListener("click", () => {
            searchBar.value = "";
            clearIcon.style.visibility = "hidden";
        })


        const button = document.getElementsByTagName("button")[0];
        const iTag = document.getElementsByTagName("i")[1]
        button.addEventListener('mouseenter', function() {
        // do something when the user hovers over the div
            iTag.classList.add("bx-lg")
            iTag.classList.add("bx-flashing")
        });


        button.addEventListener('mouseleave', function() {
        // do something when the user hovers over the div
            iTag.classList.remove("bx-lg")
            iTag.classList.remove("bx-flashing")

        });



    </script>
    
    <link rel="stylesheet" href="/cssfiles/searchUser.css">
    <%- include('./partials/bsValidation')%>


    
</body>
</html>
