<%- include('./partials/header')%>
<body class = "d-flex flex-column vh-100">
    <%- include('./partials/preloader')%>
    <%- include('./partials/flasher')%>
    <%- include('./partials/navbar')%>


    
    

    <div class = "container">
        <br><br>
        <h1><strong>SEARCH</strong></h1>
        <br>
        <form action="/foodposts/search" method = "GET" name = "searchBar" class="validated-form" novalidate>
            <div class = "row">
                <div class = "col-10 mycont">
                    <div class="input-wrapper">
                        <i class='bx bx-x bx-md clear-icon' ></i>
                        <input class = "searchBar" type="text" placeholder="Search" name = "search" maxlength="20" required>
                        <button type="submit" class = "search-button"><i class='bx bx-search bx-md '></i></button>
                    </div>
                </div>
                <div class = "col-2">
                    <h4><strong>Search By User</strong></h4>
                    <input type="checkbox" id="searchUser" name="searchUser" value="true">
                </div>
            </div>
            


    
        </form>
        
    </div>





    <link rel="stylesheet" href="/cssfiles/search.css">

    <script>
        const clearIcon = document.querySelector(".clear-icon");
        const searchBar = document.querySelector(".searchBar");

        searchBar.addEventListener("keyup", () => {
            if(searchBar.value && clearIcon.style.visibility != "visible"){
            clearIcon.style.visibility = "visible";
            } else if(!searchBar.value) {
            clearIcon.style.visibility = "hidden";
            }
        });

        clearIcon.addEventListener("click", () => {
            searchBar.value = "";
            clearIcon.style.visibility = "hidden";
        })


        const button = document.getElementsByTagName("button")[0];
        const iTag = document.getElementsByTagName("i")[1]
        button.addEventListener('mouseenter', function() {
        // do something when the user hovers over the div
            iTag.classList.add("bx-lg")
            iTag.classList.add("bx-flashing")
        });


        button.addEventListener('mouseleave', function() {
        // do something when the user hovers over the div
            iTag.classList.remove("bx-lg")
            iTag.classList.remove("bx-flashing")

        });

    </script>
    <%- include('./partials/bsValidation')%>

</body>
</html>
