<%- include('./partials/header')%>
<body>
    <div id = "preloader"></div>
    <link rel="stylesheet" href="/cssfiles/preloader.css">
    
    <script>
        
        var loader = document.getElementById("preloader");
        window.addEventListener("load",function(){
            setTimeout(function() {
                loader.style.display = "none";
            }, 1000)
            
        })
    </script>

    <%- include('./partials/flasher')%>
    <%- include('./partials/navbar')%>


    <div class = "container">
        <br><br>
        <h1><strong>SEARCH</strong></h1>
        <br>
        <form action="/foodposts/search" method = "GET" name = "searchBar">
            <div class = "row">
                <div class = "col-10">
                    <div class="input-wrapper">
                        <i class='bx bx-x bx-md clear-icon' ></i>
                        <input class = "searchBar" type="text" placeholder="Search" name = "search">
                        <button type="submit" class = "search-button"><i class='bx bx-search bx-md '></i></button>
                    </div>
                </div>
                <div class = "col-2">
                    <h4><strong>Search By User</strong></h4>
                    <input type="checkbox" id="searchUser" name="searchUser" value="true">
                </div>
            </div>
            


    
        </form>
        <br>
        <br>
        
    </div>



    <% if(emptyResult){ %>
        <h1>NO RESULTS FOUND</h1>
    <% }else {%>
        <div class="container">
            <% for(var i = 0;i<result.length;i++){ %>
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><%= result[i].username %></h5>
                      <p class="card-text">Email: <%= result[i].email %></p>
                      <a href="/profile/<%= result[i]._id %>" class="card-link">View Profile</a>
                    </div>
                </div>
                <br>
        
            <% }%>
        </div>
        
    <% } %>




    <script>
        const clearIcon = document.querySelector(".clear-icon");
        const searchBar = document.querySelector(".searchBar");

        searchBar.addEventListener("keyup", () => {
            if(searchBar.value && clearIcon.style.visibility != "visible"){
            clearIcon.style.visibility = "visible";
            } else if(!searchBar.value) {
            clearIcon.style.visibility = "hidden";
            }
        });

        clearIcon.addEventListener("click", () => {
            searchBar.value = "";
            clearIcon.style.visibility = "hidden";
        })
    </script>
    
    <link rel="stylesheet" href="/cssfiles/searchUser.css">

</body>
</html>
